.grid-container2 
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px,auto);
    grid-auto-columns: minmax(50px,auto);
    
}

.items 
{
    background: lightskyblue;
    border:1px solid whitesmoke;
    border-radius: 3px;
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem;
}
.items p{
    font-weight: 800;
}

.grid-container3
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px,auto);
    grid-auto-columns: minmax(50px,auto);
    margin: 1rem;
    

}