@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto";
  width: 100%;
  height: 100vh;
  margin: 0;

  /* background: #F7D9D9; */
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #f25287;
  color: #f9f3f3;
  flex-wrap: wrap;
  padding: 0 10px 0 50px;
}

nav.logo {
  color: white;
}

nav.logo i {
  background-color: white;
  color: white;
}

.nav-ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.nav-ul li {
  margin: 0 15px;
}

.nav-ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  display: inline-block;
}
.hamburger,
.cross {
  background-color: transparent;
  color: white;
  border: 0;
  outline: none;
  font-size: 20px;
  display: none;
}
.cross {
  display: none;
}

.wrapper {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: row;
}

.aside-container {
  width: 15%;
  height: auto;
  background: #f7d9d9;
}

aside {
  color: black;
  padding-left: 1rem;
  background: #f7d9d9;
  display: flex;
  flex-direction: column;
}
.heading {
  padding: 1rem;
}

aside a {
  font-size: 1rem;
  color: black;
  display: block;
  padding: 30px;
  padding-left: 30px;
  text-decoration: none;
  font-weight: 400;
}

aside a:hover {
  color: #f25287;
  background: #fff;
  position: relative;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-weight: 500;
}

aside a i {
  margin-right: 5px;
}

aside a:hover::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  right: 0;
  height: 35px;
  width: 35px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 20px 0 0 #fff;
}

aside a:hover::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 38px;
  right: 0;
  height: 35px;
  width: 35px;
  border-top-right-radius: 18px;
  box-shadow: 0 -20px 0 0 #fff;
}

.content-container {
  width: 85%;
  height: auto;
  background: #dddddd;
}

.content-container .content {
  display: flex;
  flex-direction: column;
}

.content .item1 {
  border: 0.7px solid whitesmoke;
  margin: 2rem;
  padding: 1rem;
}

.avataritem p,
.alertitem p,
.buttonitem p,
.imageitem p,
.inputitem p,
.listitem p,
.navitem p,
.modalitem p,
.ratingitem p,
.griditem p,
.textutlityitem p,
.toastitem p,
.notify p {
  padding: 1rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 15px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: #f1f1f1;
  padding: 1rem;
  text-align: start;
  margin-top: 1rem;
  background-color: #f1f1f1;
}
.cards img {
  width: 75%;
  height: 80%;
  object-fit: cover;
}

.cards a {
  list-style-type: none;
  text-decoration: none;
  color: #f25287;
  font-size: 1.2rem;
}

.footer {
  background-color: #393232;
  width: 100%;
  height: 3rem;
  text-align: center;
  color: white;
  padding: 1rem;
}

#lin {
  font-size: 1.5rem;
  text-align: center;
}

pre {
  white-space: pre-line;
  word-break: break-all;
  text-align: center;
  font-weight: 440;
  background-color: #f7d9d9;
  padding: 1rem;
  color: black;
}

@media screen and (max-width: 860px) {
  .aside-container {
    display: none;
  }
  .content-container {
    width: 100%;
  }
  .cards a {
    font-size: 1.2rem;
  }

  #lin {
    font-size: 1.2rem;
  }

  .cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 400px) {
  .cards img {
    width: 100%;
    height: 200%;
    object-fit: cover;
  }

  .cards a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 250px) {
  .cards a {
    font-size: 0.71rem;
    text-align: start;
  }

  #lin {
    font-size: 1.3rem;
    word-wrap: break-word;
  }
}
