@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #dddddd;
  overflow-x: hidden;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #f25287;
  color: #f9f3f3;
  flex-wrap: wrap;
  padding: 0 10px 0 50px;
}

nav.logo {
  color: white;
}

nav.logo i {
  background-color: white;
  color: white;
}

.nav-ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.nav-ul li {
  margin: 0 15px;
}

.nav-ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  display: inline-block;
}
.hamburger,
.cross {
  background-color: transparent;
  color: white;
  border: 0;
  outline: none;
  font-size: 20px;
  display: none;
}
.cross {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
}

.content-container {
  width: 100%;
  height: 70%;
  background-color: #f7d9d9;
  display: flex;
}

.image {
  display: flex;
  margin: 2rem;
  width: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2rem;
  padding: 2rem;
}
.heading-content {
  padding: 2rem;
  text-align: start;
}
.heading-content h1 {
  font-size: 2.5rem;
  text-align: start;
}

.heading-content p {
  font-size: 1.3rem;
  text-align: start;
  padding-top: 1rem;
}
.button-container button {
  font-size: 1.5rem;
  width: 60%;
  height: 3rem;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #26001b;
  color: white;
  margin-left: 2rem;
  cursor: pointer;
}
.button-container button:hover 
  {
    background-color: #F25287;
    color: white;
  }

.installation-container {
  display: flex;
  height: 50%;
  width: 100%;
 
}
.installation-logo
{
 
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0 8px 6px -6px black;
  border-radius:10px;
  margin:2rem;
 
}



.installation-logo button {
  font-size: 4.5rem;
  padding: 1rem;
  height: 7rem;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #393232;
  color: white;
  margin: 1rem;
}

.installation-logo h2 
{
  margin: 0.5rem;
  font-size: 2rem;
  color: #F25287;
  padding:1rem;
}


.installation-content
{
  
  
  padding: 2rem;
  margin: 2rem;
}

.installation-content div 
{
  background-color: #F8F9FA;
  height: 50px;
  box-shadow: 0 8px 6px -6px black;
  margin: 1.3rem;
  padding: 2rem;
  font-weight: 600;
  border-radius: 6px;
  
}
.installation-logo h3 
{
  margin: 1rem;
}

.footer 
{
  background-color: #393232;
  width:100%;
  height: 3rem;
  text-align: center;
  color: white;
  padding: 1rem;
 
}













@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
  .installation-container
  {
      width: 100%;
      flex-direction: column;
  }
  .installation-logo
  {
      width: 80%;
      margin:1rem;
  }
  .installation-content
  {
      width: 100%;
      
  }
  
}

@media (max-width: 850px) {
  .image {
    width: 100%;
    margin: 0 auto;
    margin-left: 14rem;
  }
  .content-container {
    flex-direction: column;
  }

  .content {
    margin: 0 auto;
    width: 100%;
  }

  .heading-content {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
  }

  .heading-content h1 {
    font-size: 1.5rem;
    text-align: start;
  }
  .button-container button {
    margin-left: 6rem;
    width: 80%;
    cursor: pointer;
  }

  
  .installation-container
  {
      width: 100%;
      flex-direction: column;
  }
  .installation-logo
  {
      width: 50%;
  }
  .installation-content
  {
      width: 100%;
      margin-left: 0rem;
      
  }

  .installation-content>div p 
  {
      font-size: 1rem;
      text-align: center;
  }
}

@media (max-width: 767px) {
  .hamburger {
    display: block;
    padding-left: 15rem;
  }
  .cross {
    display: none;
  }
  .cross-icon {
    display: block;
  }

  .nav-ul {
    display: none;
    flex-direction: row;
  }

  .show {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  nav {
    height: 100px;
    padding: 0 20px 0 20px;
  }
  .content-container {
    flex-direction: column;
  }

  .image {
    width: 100%;
    margin: 0 auto;
    margin-left: 0rem;
  }

  .content {
    margin: 0 auto;
    width: 100%;
  }

  .heading-content {
    padding: 1rem;
    text-align: center;
  }

  .heading-content h1 {
    font-size: 1.5rem;
    text-align: start;
  }
  .button-container button {
    margin-left: 1rem;
  }

  .installation-container
  {
      width: 100%;
      flex-direction: column;
  }
  .installation-logo
  {
      width: 90%;
  }
  .installation-content
  {
      width: 100%;
           
  }
  .installation-content>div
  {
    height: 10%;
  }

  .installation-content>div p 
  {
      font-size: 1rem;
      text-align: start;
      word-wrap: break-word;
     
     
  }
  
}
