@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
a
{
    text-decoration: none;
}
.card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #152348;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: #F25287;
    color:whitesmoke;
    padding: 3px 10px;
}

.cross-badge {
    position: absolute;
    right: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
  background-color: #f0f0f0;
  border-radius: 2px;
  text-transform: uppercase;
    background: #152348;
    border:none;
    outline: none;
    color:whitesmoke;
    padding: 3px 10px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.overlay-text
{
  position: absolute;
  top: 255px;
  left: 50px;
  background-color: #5CB85C;
  color: black;
  padding: 0.5rem;
}

.card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
   
}

.card-image img {
    max-width: 100%;
    max-height: 100%;
}

.card-details {
    padding: 30px;
}



.card-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.card-details h4 a:hover {
    color: #fbb72c;
}

.card-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: whitesmoke;
}


