.badge-box 
{
   display: flex;
  
    

}

.badge-item
{
    width: 70px;
    height:70px;
    background: #fff;
    border-radius: 40px;
    box-sizing: border-box;
    text-align: center;
    position: relative;

}

.badge-item i
{
    color:#F25287;
    line-height: 60px;
    font-size: 30px;

}

.badge-item .num 
{
   position: absolute;
    margin-top:3px;
    margin-left:-10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    color: whitesmoke;
}