.modalDialog 
{
   border:1px solid white;
   max-width:800px;
   margin: 1rem;
}

.modalDialog>div 
{
    max-width: 800px;
    position: relative;
    padding:1rem;
    border-radius: 3px;
    background: #F25287;
    color: whitesmoke;
}

.close 
{
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 34px;
    height: 34px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    padding-top: 5px;
}


