

.heading-text
{
    color: black;
    font-size: 2rem;
    display: block;
    text-align: start;
}

.small-text 
{
    color:blue;
    font-size: 1.5rem;
    display: block;
    text-align: start;

}

.gray-text 
{
    font-size: 1.5rem;
    text-align: start;
    color:#a6a9b6;
    display: block;
}

.center-text 
{
    font-size: 1.5rem;
    text-align: center;
    color: black;
    display: block;
}